@import "./node_modules/bootstrap/scss/bootstrap.scss";

@mixin centered {
    float: none;
    margin: 0 auto;
    text-align: center;
}

body {
    background-color: #f7fada;
}

.container {
    margin-top: 64px;
}

h1, h2, h3, h4, h5, h6, .centered {
    @include centered;
}

.dropzone {
    @include centered;
    margin-top: 20px;
}

.image-preview {
    width: 180px;
    height: 180px;
    margin: 9px;
    overflow: hidden;
    cursor: move;
}

.previewed-image {
    position: relative;
}

button {
    @include centered;
    margin-top: 20px;
}

p {
    @include centered;
    margin: 10px;
}

.right-align {
    float: right;
}

.red {
    color: red;
}

video {
    @include centered;
    margin-top: 20px;
}

.videoPlaceholder {
    @include centered;
    margin-top: 20px;
    width: 640px;
    height: 360px;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, .4);
    padding: 50px;
}

.icon {
    width: 16px;
    height: 16px;
    transform: translate(2px, -4px);
    cursor: pointer;
}

footer {
    width: 100%;
    font-size: 12px;
    position: fixed;
    bottom: 0;
}